@model TaxiService.Models.Client
@{
    ViewBag.Title = "Profile";
}
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $('document').ready(function () {
            $('#change').click(function () {
                let data = {
                    Username: $('#username').val(),
                    Password: $('#password').val(),
                    Firstname: $('#firstname').val(),
                    Lastname: $('#lastname').val(),
                    JMBG: $('#jmbg').val(),
                    ContactPhone: $('#contactphone').val(),
                    Email: $('#email').val(),
                    Gender: $('#gender').val(),
                    Role: $('#role').val()
                }
                $.post("/api/Client/Update", data)
                    .done(function () {
                        alert("Changes saved")
                    })
                    .fail(function () {
                        alert("Error occured")
                    });
            });
        });
    </script>
</head>


<h2>Profile</h2>

<div class="row" style="padding-top:20px">
    <div class="col-md-10">
        <label>Username: </label>
        <input type="text" id="username" name="username" value="@Model.Username" readonly="readonly" disabled="disabled" />
    </div>
    <div class="col-md-10">
        <label>Password: </label>
        <input type="password" id="password" name="password" value="@Model.Password" />
    </div>
    <div class="col-md-10">
        <label>Firstname: </label>
        <input type="text" id="firstname" name="firstname" value="@Model.Firstname" />
    </div>
    <div class="col-md-10">
        <label>Lastname: </label>
        <input type="text" id="lastname" name="lastname" value="@Model.Lastname" />
    </div>
    <div class="col-md-10">
        <label>Gender: </label>
        <select id="gender" name="gender" autofocus="@Model.Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="col-md-10">
        <label>JMBG: </label>
        <input type="text" id="jmbg" name="jmbg" value="@Model.JMBG" />
    </div>
    <div class="col-md-10">
        <label>ContactPhone: </label>
        <input type="text" id="contactphone" name="contactphone" value="@Model.ContactPhone"/>
    </div>
    <div class="col-md-10">
        <label>Email: </label>
        <input type="text" id="email" name="email" value="@Model.Email" />
    </div>
    <div class="col-md-10">
        <input hidden="hidden" type="text" id="role" name="role" value="Client" readonly="readonly" disabled="disabled" />
    </div>
    <div class=" col-md-10">
        <input type="submit" value="Change" id="change" name="change" />
        @Html.ActionLink("Go back","Index","Taxi",new { @class="btn btn-default"})
    </div>
</div>